#!/bin/bash

set -eu

pve_workers="{% for host in groups['pve_workers'] %}{{ hostvars[host].ansible_host }}{% if not loop.last %} {% endif %}{% endfor %}"

echo "Powering off workers"
for pve_ip in ${pve_workers}; do
  ssh -o BatchMode=yes -o ConnectTimeout=5 root@${pve_ip} "/usr/sbin/poweroff"
done

echo "Powering off the main pve"
/usr/sbin/poweroff
