global_defs {
  enable_script_security
  script_user root
}

vrrp_script chk_haproxy {
    script 'killall -0 haproxy' # faster than pidof
    interval 2
}

vrrp_instance haproxy-vip {
    interface eth0
    state {{ keepalived_state }}
    priority {{ keepalived_priority }}

    virtual_router_id 51

    virtual_ipaddress {
        {{ cluster_lb_ip }}/24
    }

    track_script {
        chk_haproxy
    }
}
