pm_api_url      = "https://{{ hostvars['pve01'].ansible_host }}:8006/api2/json"
pm_api_user     = "root@pam"
pm_password     = "{{ pve.root_password }}"
ssh_public_key  = "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_ed25519.pub') }}"
template_name   = "cloudinit-template"
ciuser          = "ubuntu"
vm_list = [
{% for vm in groups['vms'] %}
{
  name          = "{{ vm }}",
  proxmox_node  = "{{ hostvars[vm].proxmox_node }}",
  memory        = "{{ hostvars[vm].memory }}",
  cores         = "{{ hostvars[vm].cores }}",
  os_disk       = "{{ hostvars[vm].os_disk }}",
  longhorn_disk = "{{ hostvars[vm].longhorn_disk }}",
  macaddr       = "{{ hostvars[vm].mac_address }}",
  ipconfig      = "{{ hostvars[vm].ipconfig }}",
  startup_order = "{{ hostvars[vm].startup_order }}",
  startup_delay = "{{ hostvars[vm].startup_delay }}"
}{% if not loop.last %},{% endif %}
{% endfor %}
]
