---
- name: Provision the ISO images to autoinstall pve
  hosts: localhost
  become: true
  tasks:
    - name: Create the pve-install-repo.list file
      ansible.builtin.copy:
        content: deb http://download.proxmox.com/debian/pve bookworm pve-no-subscription
        dest: /etc/apt/sources.list.d/pve-install-repo.list
        mode: '0644'

    - name: Add the Proxmox VE repository key
      ansible.builtin.apt_key:
        url: https://enterprise.proxmox.com/debian/proxmox-release-bookworm.gpg
        state: present

    - name: Update apt repositories
      ansible.builtin.apt:
        update_cache: true

    - name: Install required packages
      ansible.builtin.apt:
        name:
          - xorriso
          - proxmox-auto-install-assistant
        state: present

    - name: Create the answer files
      ansible.builtin.template:
        src: 'templates/{{ env }}/answer.toml.j2'
        dest: '/tmp/answer_{{ item }}.toml'
        mode: '0644'
      loop: "{{ groups['pves'] }}"
      vars:
        pve_ssh_key: "{{ lookup('file', '/home/{{ pve.ssh_key_user }}/.ssh/id_ed25519.pub') }}"

    - name: Download the Proxmox VE ISO
      ansible.builtin.get_url:
        url: https://enterprise.proxmox.com/iso/proxmox-ve_8.4-1.iso
        dest: /tmp/pve.iso
        mode: '0644'

    - name: Duplicate the Proxmox VE ISO for each host
      ansible.builtin.copy:
        src: /tmp/pve.iso
        dest: '/tmp/pve_{{ item }}.iso'
        mode: '0644'
      loop: "{{ groups['pves'] }}"

    - name: Run the Proxmox Auto Install Assistant to prepare the ISO
      ansible.builtin.command: |
        proxmox-auto-install-assistant prepare-iso /tmp/pve_'{{ item }}'.iso \
          --fetch-from iso \
          --answer-file /tmp/answer_'{{ item }}'.toml \
          --output /tmp/pve_'{{ item }}'_auto.iso
      loop: "{{ groups['pves'] }}"
      register: output
      changed_when: output.rc != 0

    - name: Run Terraform to create test VMs with custom ISO
      when: env == 'test'
      block:
        - name: Create terraform tfvars file
          ansible.builtin.template:
            src: templates/terraform.tfvars.j2
            dest: terraform/terraform.tfvars
            mode: '0644'

        - name: Apply Terraform configuration
          community.general.terraform:
            project_path: "{{ playbook_dir }}/terraform"
            state: present
            force_init: true
            variables:
              pve_iso_path: '/tmp'
