---
- name: Load vault secrets
  hosts: localhost
  tasks:
    - name: Load vault secrets
      block:
        - name: Checkout the homelab repo
          ansible.builtin.git:
            repo: https://github.com/home-kops/k8s-homelab.git
            dest: /tmp/homelab
            single_branch: true
            version: main

        - name: Load vault secrets
          ansible.builtin.shell: /tmp/homelab/vault/tooling/load-secrets {{ cluster.secrets | quote }}
          args:
            executable: /bin/bash
          register: output
          changed_when: output.rc != 0

        - name: Load vault secret files
          ansible.builtin.shell: /tmp/homelab/vault/tooling/load-secret-files "{{ cluster.secret_files }}"
          args:
            executable: /bin/bash
          register: output
          changed_when: output.rc != 0
      always:
        - name: Remove the homelab directory
          ansible.builtin.file:
            path: /tmp/homelab
            state: absent
