name: Validate Ansible and Terraform

on:
  pull_request:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-ansible-and-terraform:
    name: Validate Ansible and Terraform
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13.1'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Prepare vault file
      run: |
        echo "${VAULT_PASSWORD}" > .vault
      env:
        VAULT_PASSWORD: ${{ secrets.ANSIBLE_AUTH }}

    - name: Run ansible-lint
      run: ansible-lint ansible/playbooks/**/*.yaml

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: '1.13.3'

    - name: Initialize Terraform
      run: terraform init
      working-directory: terraform

    - name: Validate Terraform
      run: terraform validate
      working-directory: terraform
